<%- include('partials/header.ejs'); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/example">See Request Example Page</a><br>
    <a href="/restful">See Restful Breakdown</a><br>
    <a href="/status-codes">See HTTP Status Codes</a><br>
    <a href="/countries" class="giant">See All API Countries</a>

<%- include('partials/footer.ejs'); %>
